<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:void(0)">Game Rule</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid micro-jhen-hei" style="color: #fff">
            <h3>情境</h3>
            <p>有一個留言板。</p>
            <p>你是Andy，可以自由的在留言板上盡情留言</p>
            <hr style="border-color: #888">
            <h3>Mission 1</h3>
            <p>由於你發現可以盡情留言，於是你試著留一段程式碼，而這段程式碼將會在畫面上跳出"恭喜抽中iphone! 請點擊以下連結領取:(惡意連結)"...</p>
            <h3>Mission 2</h3>
            <p>食髓知味的你，決定更進一步的主動跟使用者要個人資訊:</p>
            <ul>
                <li>跳出通知:"恭喜抽中iphone! 請輸入手機號碼等待通知:"</li>
                <li>將使用者輸入的資訊用console印出...(未來你可以考慮用firebase之類的線上資料庫將資料存起來)...</li>
            </ul>
        </div>
    </div>
</div>