<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:void(0)">Game Start</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="flex-container card-header card-header-danger micro-jhen-hei" style="display: flex; justify-content: space-between;">
                            <div>
                                <h4 class="card-title ">留言板</h4>
                                <p class="card-category">Leave your comments</p>
                            </div>
                            <ul class="nav nav-tabs" id="reset-btn" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">restore</i> Reset
                                        <div class="ripple-container"></div>
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <input id="msg-input" type="text" class="" placeholder="請留言..."
                                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                                            style="flex: 1 1 auto; margin: 0.3125rem 1px; border: 1px; border-top-left-radius: 0.2rem; border-bottom-left-radius: 0.2rem; padding-left: 8px;">
                                        <div class="input-group-append" style="margin-left: -2px">
                                            <button class="btn btn-outline-secondary" id="send"
                                                type="button">送出</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="msg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>