<!-- <body onload=<%= msg[0].msg %>></body> -->
<body>
    <input id="click-me" type="button" value="Click me">
    <%= msg[0].msg %>

    <script>
        // $('body').append(`<script>alert(456)<\/script>`);
    </script>
</body>

